<h1>Welcome to Home!</h1>
<router-outlet></router-outlet>
<nav>
  <a routerLink="/home/products">Products</a><br>
  <a routerLink="/home/details">Details</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-card>
              <h5 class="card-title">JAVA</h5>
              <a href="#" class="btn btn-primary">Learn about JAVA</a>
            </app-card>
        </div>
  
        <div class="col-md-4">
            <app-card>
              <h5 class="card-title">PYTHON</h5>
              <a href="#" class="btn btn-primary">learn about python</a>
            </app-card>
        </div>
  
        <div class="col-md-4">
            <app-card>
              <h5 class="card-title">ANGULAR</h5>
              <a href="#" class="btn btn-primary">learn about angular</a>
            </app-card>
        </div>
    </div>
  </div>


 
  